##This notebook calculates classification probabilities of known images to validate model robustness

In [ ]:
gpu_info = !nvidia-smi
gpu_info = '\n'.join(gpu_info)
if gpu_info.find('failed') >= 0:
  print('Not connected to a GPU')
else:
  print(gpu_info)

In [ ]:
from psutil import virtual_memory
ram_gb = virtual_memory().total / 1e9
print('Your runtime has {:.1f} gigabytes of available RAM\n'.format(ram_gb))

if ram_gb < 20:
  print('Not using a high-RAM runtime')
else:
  print('You are using a high-RAM runtime!')

Your runtime has 89.6 gigabytes of available RAM

You are using a high-RAM runtime!

In [ ]:
!pip install -Uqq fastbook
import fastbook
fastbook.setup_book()

In [ ]:
#hide
from fastbook import *
from fastai.vision.widgets import *

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Load the model, which was saved as a .pkl file

In [ ]:
cd /content/drive/MyDrive/DL_images/CP_NUC/model_dev/

/content/drive/MyDrive/DL_images/CP_NUC/model_dev

In [ ]:
ls

prunus_res50_cpnuc_v4_fp16_24epochs.pkl  solitary_corymbose/  trop_racemose/

In [ ]:
learn_imp = load_learner('prunus_res50_cpnuc_v4_fp16_24epochs.pkl')

In [ ]:
learn_imp

# First the trimmed images are processed through the model
"Tropical racemose" images, which the model has never seen before, are investigated first

In [ ]:
cd /content/drive/MyDrive/DL_images/CP_NUC/external_TR/TR_trim1

/content/drive/MyDrive/DL_images/CP_NUC/external_TR/TR_trim1

In [ ]:
test_file_names = os.listdir()

In [ ]:
len(test_file_names)

426

In [ ]:
vals_empty = []
imgs_empty = []

In [ ]:
for x in range(0,len(test_file_names)):
  img = '/content/drive/MyDrive/DL_images/CP_NUC/external_TR/TR_trim1/'+test_file_names[x]
  print(img)
  pred,pred_idx,probs = learn_imp.predict(img)
  lbl_pred = widgets.Label()
  lbl_pred.value = f'Prediction: {pred}; Probability: {probs[pred_idx]:.04f}'
  vals_empty.append(lbl_pred.value[12:100])
  imgs_empty.append(test_file_names[x])

In [ ]:
dict = {"my_col":vals_empty, "img_col":imgs_empty}

In [ ]:
df = pd.DataFrame(dict)

In [ ]:
df

,my_col,img_col
0,trop_racemose; Probability: 1.0000,topengii_0339432.jpg
1,trop_racemose; Probability: 1.0000,topengii_IBK00063528.jpg
2,trop_racemose; Probability: 0.9985,topengii_0339551.jpg
3,trop_racemose; Probability: 0.9985,topengii_IBK00063516.jpg
4,trop_racemose; Probability: 1.0000,topengii_0339427.jpg
...,...,...
421,trop_racemose; Probability: 1.0000,lamponga_e4e0dfb3-64fe-4e45-aa52-60ba08e5c6b3.jpg
422,trop_racemose; Probability: 1.0000,lamponga_f0afdf8e-2f03-497f-abb8-e89ce3507605.jpg
423,trop_racemose; Probability: 1.0000,lamponga_f94fe3a6-ec2d-4a0f-9313-117162042a88.jpg
424,trop_racemose; Probability: 0.9997,lamponga_fa8115db-9620-449e-870f-a276c85df2ca.jpg
425,trop_racemose; Probability: 0.9996,lamponga_fae360c2-470a-4ef0-8732-c73906445ee3.jpg

In [ ]:
df2=df['my_col'].str.split('; Probability: ', expand=True)

In [ ]:
df2

                 0       1
0    trop_racemose  1.0000
1    trop_racemose  1.0000
2    trop_racemose  0.9985
3    trop_racemose  0.9985
4    trop_racemose  1.0000
..             ...     ...
421  trop_racemose  1.0000
422  trop_racemose  1.0000
423  trop_racemose  1.0000
424  trop_racemose  0.9997
425  trop_racemose  0.9996

[426 rows x 2 columns]

In [ ]:
df3 = pd.concat([df,df2], axis=1)

In [ ]:
df3.columns = ["all_info","image","classification","probability"]

In [ ]:
df3

,all_info,image,classification,probability
0,trop_racemose; Probability: 1.0000,topengii_0339432.jpg,trop_racemose,1.0000
1,trop_racemose; Probability: 1.0000,topengii_IBK00063528.jpg,trop_racemose,1.0000
2,trop_racemose; Probability: 0.9985,topengii_0339551.jpg,trop_racemose,0.9985
3,trop_racemose; Probability: 0.9985,topengii_IBK00063516.jpg,trop_racemose,0.9985
4,trop_racemose; Probability: 1.0000,topengii_0339427.jpg,trop_racemose,1.0000
...,...,...,...,...
421,trop_racemose; Probability: 1.0000,lamponga_e4e0dfb3-64fe-4e45-aa52-60ba08e5c6b3.jpg,trop_racemose,1.0000
422,trop_racemose; Probability: 1.0000,lamponga_f0afdf8e-2f03-497f-abb8-e89ce3507605.jpg,trop_racemose,1.0000
423,trop_racemose; Probability: 1.0000,lamponga_f94fe3a6-ec2d-4a0f-9313-117162042a88.jpg,trop_racemose,1.0000
424,trop_racemose; Probability: 0.9997,lamponga_fa8115db-9620-449e-870f-a276c85df2ca.jpg,trop_racemose,0.9997
425,trop_racemose; Probability: 0.9996,lamponga_fae360c2-470a-4ef0-8732-c73906445ee3.jpg,trop_racemose,0.9996

In [ ]:
df3 = df3.drop('all_info', axis=1)

In [ ]:
df3

,image,classification,probability
0,topengii_0339432.jpg,trop_racemose,1.0000
1,topengii_IBK00063528.jpg,trop_racemose,1.0000
2,topengii_0339551.jpg,trop_racemose,0.9985
3,topengii_IBK00063516.jpg,trop_racemose,0.9985
4,topengii_0339427.jpg,trop_racemose,1.0000
...,...,...,...
421,lamponga_e4e0dfb3-64fe-4e45-aa52-60ba08e5c6b3.jpg,trop_racemose,1.0000
422,lamponga_f0afdf8e-2f03-497f-abb8-e89ce3507605.jpg,trop_racemose,1.0000
423,lamponga_f94fe3a6-ec2d-4a0f-9313-117162042a88.jpg,trop_racemose,1.0000
424,lamponga_fa8115db-9620-449e-870f-a276c85df2ca.jpg,trop_racemose,0.9997
425,lamponga_fae360c2-470a-4ef0-8732-c73906445ee3.jpg,trop_racemose,0.9996

In [ ]:
cd /content/drive/MyDrive/DL_images/CP_NUC/

/content/drive/MyDrive/DL_images/CP_NUC

In [ ]:
df3.to_csv('TR_external_probs_trim1_v5.csv', index = False)

## Now the solitary / corymbose trimmed

In [ ]:
cd /content/drive/MyDrive/DL_images/CP_NUC/external_SC/SC_trim1

/content/drive/MyDrive/DL_images/CP_NUC/external_SC/SC_trim1

In [ ]:
test_file_names = os.listdir()

In [ ]:
len(test_file_names)

452

In [ ]:
vals_empty = []
imgs_empty = []

In [ ]:
for x in range(0,len(test_file_names)):
  img = '/content/drive/MyDrive/DL_images/CP_NUC/external_SC/SC_trim1/'+test_file_names[x]
  print(img)
  pred,pred_idx,probs = learn_imp.predict(img)
  lbl_pred = widgets.Label()
  lbl_pred.value = f'Prediction: {pred}; Probability: {probs[pred_idx]:.04f}'
  vals_empty.append(lbl_pred.value[12:100])
  imgs_empty.append(test_file_names[x])

In [ ]:
dict = {"my_col":vals_empty, "img_col":imgs_empty}

In [ ]:
df4 = pd.DataFrame(dict)

In [ ]:
df4

,my_col,img_col
0,solitary_corymbose; Probability: 1.0000,serrulata_0033c43b-b795-425c-a2a7-134f520c393f.jpg
1,solitary_corymbose; Probability: 0.9991,serrulata_00a6fdc5-2ee3-41ff-a17f-951c12d7cd4f.jpg
2,solitary_corymbose; Probability: 0.9996,serrulata_00db9fd8-3687-4625-a7e1-0b0c5bb25419.jpg
3,solitary_corymbose; Probability: 0.9521,serrulata_00e49aeb-1dbb-497c-822b-0901a01ca02e.jpg
4,solitary_corymbose; Probability: 1.0000,serrulata_013b34f9-e5c6-4906-b296-4aed8655a394.jpg
...,...,...
447,solitary_corymbose; Probability: 0.9999,persica_23bc3f2e-b2bc-423a-8c24-1076637a47d7.jpg
448,solitary_corymbose; Probability: 1.0000,persica_2456e08d-d1ee-4a19-9862-de25ff2e1c02.jpg
449,solitary_corymbose; Probability: 0.9653,persica_247b1e02-2d70-4c69-bccd-e3af118e7fab.jpg
450,trop_racemose; Probability: 1.0000,persica_24deb24e-fe80-4d19-b119-988830f6c1f3.jpg
451,solitary_corymbose; Probability: 1.0000,persica_25ca013f-fa27-4d55-8e0b-fa25a9da7947.jpg

In [ ]:
df5=df4['my_col'].str.split('; Probability: ', expand=True)

In [ ]:
df5

                      0       1
0    solitary_corymbose  1.0000
1    solitary_corymbose  0.9991
2    solitary_corymbose  0.9996
3    solitary_corymbose  0.9521
4    solitary_corymbose  1.0000
..                  ...     ...
447  solitary_corymbose  0.9999
448  solitary_corymbose  1.0000
449  solitary_corymbose  0.9653
450       trop_racemose  1.0000
451  solitary_corymbose  1.0000

[452 rows x 2 columns]

In [ ]:
df6 = pd.concat([df4,df5], axis=1)

In [ ]:
df6.columns = ["all_info","image","classification","probability"]

In [ ]:
df6

,all_info,image,classification,probability
0,solitary_corymbose; Probability: 1.0000,serrulata_0033c43b-b795-425c-a2a7-134f520c393f.jpg,solitary_corymbose,1.0000
1,solitary_corymbose; Probability: 0.9991,serrulata_00a6fdc5-2ee3-41ff-a17f-951c12d7cd4f.jpg,solitary_corymbose,0.9991
2,solitary_corymbose; Probability: 0.9996,serrulata_00db9fd8-3687-4625-a7e1-0b0c5bb25419.jpg,solitary_corymbose,0.9996
3,solitary_corymbose; Probability: 0.9521,serrulata_00e49aeb-1dbb-497c-822b-0901a01ca02e.jpg,solitary_corymbose,0.9521
4,solitary_corymbose; Probability: 1.0000,serrulata_013b34f9-e5c6-4906-b296-4aed8655a394.jpg,solitary_corymbose,1.0000
...,...,...,...,...
447,solitary_corymbose; Probability: 0.9999,persica_23bc3f2e-b2bc-423a-8c24-1076637a47d7.jpg,solitary_corymbose,0.9999
448,solitary_corymbose; Probability: 1.0000,persica_2456e08d-d1ee-4a19-9862-de25ff2e1c02.jpg,solitary_corymbose,1.0000
449,solitary_corymbose; Probability: 0.9653,persica_247b1e02-2d70-4c69-bccd-e3af118e7fab.jpg,solitary_corymbose,0.9653
450,trop_racemose; Probability: 1.0000,persica_24deb24e-fe80-4d19-b119-988830f6c1f3.jpg,trop_racemose,1.0000
451,solitary_corymbose; Probability: 1.0000,persica_25ca013f-fa27-4d55-8e0b-fa25a9da7947.jpg,solitary_corymbose,1.0000

In [ ]:
df6 = df6.drop('all_info', axis=1)

In [ ]:
df6

,image,classification,probability
0,serrulata_0033c43b-b795-425c-a2a7-134f520c393f.jpg,solitary_corymbose,1.0000
1,serrulata_00a6fdc5-2ee3-41ff-a17f-951c12d7cd4f.jpg,solitary_corymbose,0.9991
2,serrulata_00db9fd8-3687-4625-a7e1-0b0c5bb25419.jpg,solitary_corymbose,0.9996
3,serrulata_00e49aeb-1dbb-497c-822b-0901a01ca02e.jpg,solitary_corymbose,0.9521
4,serrulata_013b34f9-e5c6-4906-b296-4aed8655a394.jpg,solitary_corymbose,1.0000
...,...,...,...
447,persica_23bc3f2e-b2bc-423a-8c24-1076637a47d7.jpg,solitary_corymbose,0.9999
448,persica_2456e08d-d1ee-4a19-9862-de25ff2e1c02.jpg,solitary_corymbose,1.0000
449,persica_247b1e02-2d70-4c69-bccd-e3af118e7fab.jpg,solitary_corymbose,0.9653
450,persica_24deb24e-fe80-4d19-b119-988830f6c1f3.jpg,trop_racemose,1.0000
451,persica_25ca013f-fa27-4d55-8e0b-fa25a9da7947.jpg,solitary_corymbose,1.0000

In [ ]:
cd /content/drive/MyDrive/DL_images/CP_NUC/

/content/drive/MyDrive/DL_images/CP_NUC

In [ ]:
df6.to_csv('SC_external_probs_trim1_v5.csv', index = False)

# Now repeat with using the non-trimmed images. This is just for comparative purposes.

In [ ]:
cd /content/drive/MyDrive/DL_images/CP_NUC/external_TR/

/content/drive/MyDrive/DL_images/CP_NUC/external_TR

In [ ]:
test_file_names = os.listdir()

In [ ]:
len(test_file_names)

427

In [ ]:
test_file_names.remove('TR_trim1')

In [ ]:
len(test_file_names)

426

In [ ]:
vals_empty = []
imgs_empty = []

In [ ]:
for x in range(0,len(test_file_names)):
  img = '/content/drive/MyDrive/DL_images/CP_NUC/external_TR/'+test_file_names[x]
  print(img)
  pred,pred_idx,probs = learn_imp.predict(img)
  lbl_pred = widgets.Label()
  lbl_pred.value = f'Prediction: {pred}; Probability: {probs[pred_idx]:.04f}'
  vals_empty.append(lbl_pred.value[12:100])
  imgs_empty.append(test_file_names[x])

In [ ]:
dict = {"my_col":vals_empty, "img_col":imgs_empty}

In [ ]:
df = pd.DataFrame(dict)

In [ ]:
df

,my_col,img_col
0,trop_racemose; Probability: 0.9999,topengii_0339432.jpg
1,trop_racemose; Probability: 1.0000,topengii_IBK00063528.jpg
2,trop_racemose; Probability: 0.9995,topengii_0339551.jpg
3,trop_racemose; Probability: 0.9989,topengii_IBK00063516.jpg
4,trop_racemose; Probability: 1.0000,topengii_0339427.jpg
...,...,...
421,trop_racemose; Probability: 1.0000,lamponga_e4e0dfb3-64fe-4e45-aa52-60ba08e5c6b3.jpg
422,trop_racemose; Probability: 1.0000,lamponga_f0afdf8e-2f03-497f-abb8-e89ce3507605.jpg
423,trop_racemose; Probability: 1.0000,lamponga_f94fe3a6-ec2d-4a0f-9313-117162042a88.jpg
424,trop_racemose; Probability: 0.9999,lamponga_fa8115db-9620-449e-870f-a276c85df2ca.jpg
425,trop_racemose; Probability: 0.9996,lamponga_fae360c2-470a-4ef0-8732-c73906445ee3.jpg

In [ ]:
df2=df['my_col'].str.split('; Probability: ', expand=True)

In [ ]:
df2

                 0       1
0    trop_racemose  0.9999
1    trop_racemose  1.0000
2    trop_racemose  0.9995
3    trop_racemose  0.9989
4    trop_racemose  1.0000
..             ...     ...
421  trop_racemose  1.0000
422  trop_racemose  1.0000
423  trop_racemose  1.0000
424  trop_racemose  0.9999
425  trop_racemose  0.9996

[426 rows x 2 columns]

In [ ]:
df3 = pd.concat([df,df2], axis=1)

In [ ]:
df3.columns = ["all_info","image","classification","probability"]

In [ ]:
df3

,all_info,image,classification,probability
0,trop_racemose; Probability: 0.9999,topengii_0339432.jpg,trop_racemose,0.9999
1,trop_racemose; Probability: 1.0000,topengii_IBK00063528.jpg,trop_racemose,1.0000
2,trop_racemose; Probability: 0.9995,topengii_0339551.jpg,trop_racemose,0.9995
3,trop_racemose; Probability: 0.9989,topengii_IBK00063516.jpg,trop_racemose,0.9989
4,trop_racemose; Probability: 1.0000,topengii_0339427.jpg,trop_racemose,1.0000
...,...,...,...,...
421,trop_racemose; Probability: 1.0000,lamponga_e4e0dfb3-64fe-4e45-aa52-60ba08e5c6b3.jpg,trop_racemose,1.0000
422,trop_racemose; Probability: 1.0000,lamponga_f0afdf8e-2f03-497f-abb8-e89ce3507605.jpg,trop_racemose,1.0000
423,trop_racemose; Probability: 1.0000,lamponga_f94fe3a6-ec2d-4a0f-9313-117162042a88.jpg,trop_racemose,1.0000
424,trop_racemose; Probability: 0.9999,lamponga_fa8115db-9620-449e-870f-a276c85df2ca.jpg,trop_racemose,0.9999
425,trop_racemose; Probability: 0.9996,lamponga_fae360c2-470a-4ef0-8732-c73906445ee3.jpg,trop_racemose,0.9996

In [ ]:
df3 = df3.drop('all_info', axis=1)

In [ ]:
df3

,image,classification,probability
0,topengii_0339432.jpg,trop_racemose,0.9999
1,topengii_IBK00063528.jpg,trop_racemose,1.0000
2,topengii_0339551.jpg,trop_racemose,0.9995
3,topengii_IBK00063516.jpg,trop_racemose,0.9989
4,topengii_0339427.jpg,trop_racemose,1.0000
...,...,...,...
421,lamponga_e4e0dfb3-64fe-4e45-aa52-60ba08e5c6b3.jpg,trop_racemose,1.0000
422,lamponga_f0afdf8e-2f03-497f-abb8-e89ce3507605.jpg,trop_racemose,1.0000
423,lamponga_f94fe3a6-ec2d-4a0f-9313-117162042a88.jpg,trop_racemose,1.0000
424,lamponga_fa8115db-9620-449e-870f-a276c85df2ca.jpg,trop_racemose,0.9999
425,lamponga_fae360c2-470a-4ef0-8732-c73906445ee3.jpg,trop_racemose,0.9996

In [ ]:
cd /content/drive/MyDrive/DL_images/CP_NUC/

/content/drive/MyDrive/DL_images/CP_NUC

In [ ]:
df3.to_csv('TR_external_probs_NOTtrim_v5.csv', index = False)

In [ ]:
cd /content/drive/MyDrive/DL_images/CP_NUC/external_SC/

/content/drive/MyDrive/DL_images/CP_NUC/external_SC

In [ ]:
test_file_names = os.listdir()

In [ ]:
len(test_file_names)

453

In [ ]:
test_file_names.remove('SC_trim1')

In [ ]:
test_file_names

In [ ]:
vals_empty = []
imgs_empty = []

In [ ]:
for x in range(0,len(test_file_names)):
  img = '/content/drive/MyDrive/DL_images/CP_NUC/external_SC/'+test_file_names[x]
  print(img)
  pred,pred_idx,probs = learn_imp.predict(img)
  lbl_pred = widgets.Label()
  lbl_pred.value = f'Prediction: {pred}; Probability: {probs[pred_idx]:.04f}'
  vals_empty.append(lbl_pred.value[12:100])
  imgs_empty.append(test_file_names[x])

In [ ]:
dict = {"my_col":vals_empty, "img_col":imgs_empty}

In [ ]:
df4 = pd.DataFrame(dict)

In [ ]:
df4

,my_col,img_col
0,solitary_corymbose; Probability: 1.0000,serrulata_0033c43b-b795-425c-a2a7-134f520c393f.jpg
1,solitary_corymbose; Probability: 0.9743,serrulata_00a6fdc5-2ee3-41ff-a17f-951c12d7cd4f.jpg
2,solitary_corymbose; Probability: 0.9868,serrulata_00db9fd8-3687-4625-a7e1-0b0c5bb25419.jpg
3,solitary_corymbose; Probability: 0.8670,serrulata_00e49aeb-1dbb-497c-822b-0901a01ca02e.jpg
4,solitary_corymbose; Probability: 1.0000,serrulata_013b34f9-e5c6-4906-b296-4aed8655a394.jpg
...,...,...
447,solitary_corymbose; Probability: 0.9997,persica_23bc3f2e-b2bc-423a-8c24-1076637a47d7.jpg
448,solitary_corymbose; Probability: 1.0000,persica_2456e08d-d1ee-4a19-9862-de25ff2e1c02.jpg
449,solitary_corymbose; Probability: 0.9761,persica_247b1e02-2d70-4c69-bccd-e3af118e7fab.jpg
450,trop_racemose; Probability: 0.9999,persica_24deb24e-fe80-4d19-b119-988830f6c1f3.jpg
451,solitary_corymbose; Probability: 1.0000,persica_25ca013f-fa27-4d55-8e0b-fa25a9da7947.jpg

In [ ]:
df5=df4['my_col'].str.split('; Probability: ', expand=True)

In [ ]:
df5

                      0       1
0    solitary_corymbose  1.0000
1    solitary_corymbose  0.9743
2    solitary_corymbose  0.9868
3    solitary_corymbose  0.8670
4    solitary_corymbose  1.0000
..                  ...     ...
447  solitary_corymbose  0.9997
448  solitary_corymbose  1.0000
449  solitary_corymbose  0.9761
450       trop_racemose  0.9999
451  solitary_corymbose  1.0000

[452 rows x 2 columns]

In [ ]:
df6 = pd.concat([df4,df5], axis=1)

In [ ]:
df6.columns = ["all_info","image","classification","probability"]

In [ ]:
df6

,all_info,image,classification,probability
0,solitary_corymbose; Probability: 1.0000,serrulata_0033c43b-b795-425c-a2a7-134f520c393f.jpg,solitary_corymbose,1.0000
1,solitary_corymbose; Probability: 0.9743,serrulata_00a6fdc5-2ee3-41ff-a17f-951c12d7cd4f.jpg,solitary_corymbose,0.9743
2,solitary_corymbose; Probability: 0.9868,serrulata_00db9fd8-3687-4625-a7e1-0b0c5bb25419.jpg,solitary_corymbose,0.9868
3,solitary_corymbose; Probability: 0.8670,serrulata_00e49aeb-1dbb-497c-822b-0901a01ca02e.jpg,solitary_corymbose,0.8670
4,solitary_corymbose; Probability: 1.0000,serrulata_013b34f9-e5c6-4906-b296-4aed8655a394.jpg,solitary_corymbose,1.0000
...,...,...,...,...
447,solitary_corymbose; Probability: 0.9997,persica_23bc3f2e-b2bc-423a-8c24-1076637a47d7.jpg,solitary_corymbose,0.9997
448,solitary_corymbose; Probability: 1.0000,persica_2456e08d-d1ee-4a19-9862-de25ff2e1c02.jpg,solitary_corymbose,1.0000
449,solitary_corymbose; Probability: 0.9761,persica_247b1e02-2d70-4c69-bccd-e3af118e7fab.jpg,solitary_corymbose,0.9761
450,trop_racemose; Probability: 0.9999,persica_24deb24e-fe80-4d19-b119-988830f6c1f3.jpg,trop_racemose,0.9999
451,solitary_corymbose; Probability: 1.0000,persica_25ca013f-fa27-4d55-8e0b-fa25a9da7947.jpg,solitary_corymbose,1.0000

In [ ]:
df6 = df6.drop('all_info', axis=1)

In [ ]:
df6

,image,classification,probability
0,serrulata_0033c43b-b795-425c-a2a7-134f520c393f.jpg,solitary_corymbose,1.0000
1,serrulata_00a6fdc5-2ee3-41ff-a17f-951c12d7cd4f.jpg,solitary_corymbose,0.9743
2,serrulata_00db9fd8-3687-4625-a7e1-0b0c5bb25419.jpg,solitary_corymbose,0.9868
3,serrulata_00e49aeb-1dbb-497c-822b-0901a01ca02e.jpg,solitary_corymbose,0.8670
4,serrulata_013b34f9-e5c6-4906-b296-4aed8655a394.jpg,solitary_corymbose,1.0000
...,...,...,...
447,persica_23bc3f2e-b2bc-423a-8c24-1076637a47d7.jpg,solitary_corymbose,0.9997
448,persica_2456e08d-d1ee-4a19-9862-de25ff2e1c02.jpg,solitary_corymbose,1.0000
449,persica_247b1e02-2d70-4c69-bccd-e3af118e7fab.jpg,solitary_corymbose,0.9761
450,persica_24deb24e-fe80-4d19-b119-988830f6c1f3.jpg,trop_racemose,0.9999
451,persica_25ca013f-fa27-4d55-8e0b-fa25a9da7947.jpg,solitary_corymbose,1.0000

In [ ]:
cd /content/drive/MyDrive/DL_images/CP_NUC/

/content/drive/MyDrive/DL_images/CP_NUC

In [ ]:
df6.to_csv('SC_external_probs_NOTtrim_v5.csv', index = False)